# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000
AUTH_SECRET=your_auth_secret_min_32_chars_long

# Database (Prisma)
DATABASE_URL=postgresql://user:password@localhost:5432/aura_db?schema=public

# Payment Gateway (Paystack)
PAYSTACK_SECRET_KEY=your_paystack_secret_key_here
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=your_paystack_public_key_here

# Object Storage / CDN
STORAGE_URL=https://storage.aura-app.com
STORAGE_ACCESS_KEY=your_storage_access_key_here
STORAGE_SECRET_KEY=your_storage_secret_key_here
